{% load i18n %}
<div class="sidebar-title">
    <h3><i class="fa fa-comments-o"></i> 最新通知</h3>
    <small><i class="fa fa-tim"></i> 您当前有10条未读信息</small>
</div>

<div>

    <div class="sidebar-message">
        <a href="#">
            <div class="pull-left text-center">
                <img alt="image" class="img-circle message-avatar" src="">

                <div class="m-t-xs">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                </div>
            </div>
            <div class="media-body">

                据天津日报报道：瑞海公司董事长于学伟，副董事长董社轩等10人在13日上午已被控制。
                <br>
                <small class="text-muted">今天 4:21</small>
            </div>
        </a>
    </div>
</div>