{% load i18n %}
<div class="sidebar-title">
    <h3><i class="fa fa-cube"></i> 最新任务</h3>
    <small><i class="fa fa-tim"></i> 您当前有14个任务，10个已完成</small>
</div>

<ul class="sidebar-list">
    <li>
        <a href="#">
            <div class="small pull-right m-t-xs">9小时以后</div>
            <h4>立项阶段</h4> 东风商用车公司 采购综合综合查询分析系统项目进度阶段性报告武汉斯迪克科技有限公司

            <div class="small">已完成： 14%</div>
            <div class="progress progress-mini">
                <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="label label-primary pull-right">NEW</span>
            <h4>设计阶段</h4>
            <!--<div class="small pull-right m-t-xs">9小时以后</div>-->
            项目进度报告(Project Progress Report)
            <div class="small">已完成： 22%</div>
            <div class="small text-muted m-t-xs">项目截止： 4:00 - 2015.10.01</div>
        </a>
    </li>
</ul>